<svg width="80" height="80">
  <!-- Círculo base (gris) -->
  <circle cx="40" cy="40" [attr.r]="getCircleRadius()" fill="#e0e0e0" />

  <!-- Círculo de progreso (verde) -->
  <circle
    cx="40"
    cy="40"
    [attr.r]="getCircleRadius()"
    [attr.stroke-dasharray]="getStrokeDashArray()"
    [attr.stroke-dashoffset]="getStrokeDashOffset()"
    fill="transparent"
    stroke="#4caf50"
    stroke-width="10"
    transform="rotate(-90 40 40)"
  />

  <!-- Texto de porcentaje -->
  <text x="40" y="40" text-anchor="middle" dy=".3em" fill="black">
    {{ calcularPorcentaje() | number: '1.0-2' }}%
    <!--{{valorActual}}/{{valorMaximo}}-->
  </text>
</svg>
