<div class="popup" *ngIf="showPopup">
    <div class="popup-header">
      <h3>Agregar Proyecto</h3>
      <button class="popup-close" (click)="togglePopup()">X</button>
    </div>
  
    <!--<div class="popup-body">
      
      <div class="popup-field">
        <label>
          Descripción Proyecto
        </label>
        <br>
        <input type="text" [(ngModel)]="description" >
      </div>
      
      <br>
      
      <div class="popup-field">
        <label>
          Descripción Proyecto
        </label>
        <br>
        <textarea [(ngModel)]="comment"></textarea>
      </div>
      

      <div class="popup-field">
        <label>
          Fecha Inicio
        </label>
        <br>
        <input type="date" [(ngModel)]="date_start" >
      </div>

      <br>

      <div class="popup-field">
        <label>
          Fecha Fin
        </label>
        <br>
        <input type="date" [(ngModel)]="date_end" >
      </div>
      <br>
      <div class="popup-field">
        <label>
          Orden
        </label>
        <br>
        <input type="number" [(ngModel)]="orden" >
      </div>

      <div class="popup-field">
        <label>
          Horas por Día
        </label>
        <br>
        <input type="number" [(ngModel)]="hours_day" >
      </div>
      
      <br>
      <label>
        <input type="checkbox" [(ngModel)]="done">
        Realizado?
      </label>
    </div>-->
    <div class="popup-body">
      <div class="popup-row" >
        <div class="popup-field">
          <label for="description">Descripción Proyecto</label>
          <input type="text" id="description" [(ngModel)]="description">
        </div>
    
        <div class="popup-field">
          <label for="hours_day">Horas por Día</label>
          <input type="number" id="hours_day" [(ngModel)]="hours_day">
        </div>
      </div>
    
      <div class="popup-row">
        <div class="popup-field">
          <label for="date_start">Fecha Inicio</label>
          <input type="date" id="date_start" [(ngModel)]="date_start">
        </div>

        <div class="popup-field">
          <label for="date_end">Fecha Fin</label>
          <input type="date" id="date_end" [(ngModel)]="date_end">
        </div>
      </div>
    
      <div class="popup-row">
        <div class="popup-field">
          <label for="orden">Orden</label>
          <input type="number" id="orden" [(ngModel)]="orden">
        </div>

        <div class="popup-field checkbox-field">
          <label>
            <input type="checkbox" id="done" [(ngModel)]="done"> Realizado?
          </label>
        </div>
      </div>
      
      <div class="popup-row">
        <div class="popup-field comment-field">
          <label for="comment">Comentarios</label>
          <textarea id="comment" [(ngModel)]="comment"></textarea>
        </div>
      </div>
    
      <div class="popup-actions">
        <button type="button" >Guardar</button>
        <button type="button" >Cancelar</button>
      </div>
    </div>
    
    
  
    <!--<div class="popup-footer">
      <form (ngSubmit)="onSubmit()">
        <button type="submit" >Guardar Proyectooo</button>
      </form>
    </div>-->
  </div>
  
  
  
  <div class="container">
    <form class = "filter">
      
    </form>
    <div class="grid" >
      <button class="btn" (click)="agregarProyecto()" >Agregar Proyecto</button>
      
      <table class="grid-table">
        <thead>
          <tr>
            <th>Hábitos</th>
            <th>Fecha de Inicio</th>
            <th>Vencimiento</th>
            <th>Orden</th>
            <th>Horas</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of listProjects">
                <!--<td>{{ project.id }}</td>-->
                <td>{{ project.description }}</td>
                <td>{{ project.date_start }}</td>
                <td>{{ project.date_finish }}</td>
                <td>{{ project.orden}}</td>
                <td>{{ project.hours_day}}</td>
                <td>
                    <button class="btn-edit" (click)="getProjectById(project)">
                      <img src="assets/Images/Edit.png" alt="Editar" />
                    </button>
                    <button class="btn-delete" (click)="eliminarProject(project)">
                      <img src="assets/Images/Delete.png" alt="Editar" />
                    </button>
                </td> 
            </tr>
        </tbody>
      </table>
  
  
    </div>
    
    
  </div>
  