<div class="popup" *ngIf="showPopup">
    <div class="popup-header">
      <h3>Agregar Proyecto</h3>
      <button class="popup-close" (click)="togglePopup()">X</button>
    </div>
    
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
      <div class="popup-body">
        <div class="popup-row">
          <div class="popup-field">
            <label for="description">Descripción Proyectoo</label>
            <input type="text" formControlName="description">
            <div *ngIf="projectForm.get('description')?.invalid && projectForm.get('description')?.touched">
              Este campo es obligatorio.
            </div>
          </div>
    
          <div class="popup-field">
            <label for="hours_day">Horas por Día</label>
            <input type="number" formControlName="hours_day">
            <div *ngIf="projectForm.get('hours_day')?.invalid && projectForm.get('hours_day')?.touched">
              Este campo es obligatorio y debe ser mayor que 0.
            </div>
          </div>
        </div>
    
        <div class="popup-row">
          <div class="popup-field">
            <label for="date_start">Fecha Inicio</label>
            <input type="date" formControlName="date_start">
            <div *ngIf="projectForm.get('date_start')?.invalid && projectForm.get('date_start')?.touched">
              Este campo es obligatorio.
            </div>
          </div>
    
          <div class="popup-field">
            <label for="date_end">Fecha Fin</label>
            <input type="date" formControlName="date_end">
            <div *ngIf="projectForm.get('date_end')?.invalid && projectForm.get('date_end')?.touched">
              Este campo es obligatorio.
            </div>
          </div>
        </div>
    
        <div class="popup-row">
          <div class="popup-field">
            <label for="orden">Orden</label>
            <input type="number" formControlName="orden">
            <div *ngIf="projectForm.get('orden')?.invalid && projectForm.get('orden')?.touched">
              Este campo es obligatorio y debe ser mayor que 0.
            </div>
          </div>
    
          <div class="popup-field checkbox-field">
            <label>
              <input type="checkbox" formControlName="done"> Realizado?
            </label>
          </div>
        </div>
        
        <div class="popup-row">
          <div class="popup-field comment-field">
            <label for="comment">Comentarios</label>
            <textarea formControlName="comment"></textarea>
            <div *ngIf="projectForm.get('comment')?.invalid && projectForm.get('comment')?.touched">
              Los comentarios no deben exceder los 200 caracteres.
            </div>
          </div>
        </div>
    
        <div class="popup-actions">
          <button type="submit">Guardar</button>
          <button type="button">Cancelar</button>
        </div>
      </div>
    </form>
    
    
</div>

  
  
  <div class="container">
    <form class = "filter">
      
    </form>
    <div class="grid" >
      <button class="btn" (click)="agregarProyecto()" >Agregar Proyecto</button>
      
      <table class="grid-table">
        <thead>
          <tr>
            <th>Hábitos</th>
            <th>Fecha de Inicio</th>
            <th>Vencimiento</th>
            <th>Orden</th>
            <th>Horas</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of listProjects">
                <!--<td>{{ project.id }}</td>-->
                <td>{{ project.description }}</td>
                <td>{{ project.date_start | date: 'yyyy-MM-dd'}}</td>
                <td>{{ project.date_finish | date: 'yyyy-MM-dd'}}</td>
                <td>{{ project.orden}}</td>
                <td>{{ project.hours_day}}</td>
                <td>
                    <button class="btn-edit" (click)="getProjectById(project)">
                      <img src="assets/Images/Edit.png" alt="Editar" />
                    </button>
                    <button class="btn-delete" (click)="eliminarProject(project)">
                      <img src="assets/Images/Delete.png" alt="Editar" />
                    </button>
                </td> 
            </tr>
        </tbody>
      </table>
  
  
    </div>
    
    
  </div>
  