.table_habits {
    border-collapse: collapse;
    margin: 10px;
    width: 65%;
  }
  
  .activities_description {
    text-align: justify;
    word-wrap: break-word;
    width: 200px; /* Define un ancho fijo */
    min-height: 100px; /* Altura mínima inicial */
    max-height: 500px; /* Altura máxima antes de que se aplique el scroll */
    overflow-y: auto; /* Permite el desplazamiento vertical si el contenido es demasiado largo */
  }

  th {
    /*background-color: blue;*/
    color: #44546f;
    //font-weight: bold;
    padding: 5px;
    text-align: left;
    white-space: nowrap;
  }
  
  th,
  td {
    border-bottom: 1px solid black;
    padding: 5px;
    white-space: normal;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #0077cc;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .popup-header h3 {
    margin: 0;
  }
  
  .popup-close {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .popup-close:hover {
    text-decoration: underline;
  }
  
  .popup-body {
    padding: 10px;
  }
  
  .popup-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .popup-save {
    border: none;
    background-color: #0077cc;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .popup-save:hover {
    background-color: #005faa;
  }
  
  /*.container {
    position: relative;
  }*/
  
  /*table {
    width: 80%; 
  }*/
  .btn {
    margin: 10px; /* ajusta el margen según tu preferencia */
  }

  .timer-container{
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
  }
  .filter {
    margin: 10px; /* ajusta el margen según tu preferencia */
  }
  
  .running {
    background-color: #36F702!important; /* Verde claro */
  }
  /*.timer {
    float: right;
    //border: 1px solid red;
  }*/

  .tachado {
    text-decoration: line-through;
    background-color: #36F702!important;
  }

  .proyecto-container {
    display: flex; /* Establece la disposición en flexbox */
    align-items: center; /* Centra verticalmente los elementos */
  }
  
  .description-bold {
    font-weight: bold; /* Aplica negrita al texto */
  }
  
  .descripcion-container{
    display: flex; /* Establece la disposición en flexbox */
    align-items: center; /* Centra verticalmente los elementos */
  }

  .hours-container{
    display: flex; /* Establece la disposición en flexbox */
    align-items: center; /* Centra verticalmente los elementos */
  }

  .date-container{
    display: flex; /* Establece la disposición en flexbox */
    align-items: center; /* Centra verticalmente los elementos */
  }

  table {
    border-collapse: collapse;
  }
  
  th, td {
    border-left: none; /* Elimina el borde izquierdo */
    border-right: none; /* Elimina el borde derecho */
  }
  
  /* Estilos para la tabla */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px; /* Espacio entre la tabla y otros elementos */
}

/* Estilos para las celdas */

/* Estilo para resaltar la fila cuando está marcada como 'done' */
tr.tachado {
  background-color: #f5f5f5;
  text-decoration: line-through;
}

/* Estilo para resaltar la fila cuando está en progreso */
td.running {
  background-color: #e0f7fa; /* Color de fondo para resaltar */
}

/* Estilos para el círculo de progreso */
app-circle-progress {
  margin-right: 10px; /* Espacio entre el círculo y otros elementos */
}

/* Estilos para los botones */
.btn-link {
  text-decoration: none;
  color: #007BFF;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.btn-link:hover {
  text-decoration: underline;
}

.description-cell  {
  word-wrap: break-word;
}

.action-buttons {
  position: absolute;
  right: 0;
}

.first-td {
  font-weight: bold;
  text-transform: uppercase;
}

.filter {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.date-input {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.select-filter {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.filter-button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #2980b9;
}

.top-text {
  position: absolute;
  top: 0;
  width: 100%;
  font-size: 16px; /* Ejemplo de tamaño de fuente */
  text-align: center; /* Centra el texto horizontalmente */
  background-color: #f0f0f0; /* Ejemplo de color de fondo */
  padding: 5px 0; /* Ejemplo de relleno para dar espacio alrededor del texto */
}

.activities_container {
  //display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  vertical-align: top;
}

/*.activities_project,
.activities_description {
  width: 100%;
}*/

.activities_project{
  width: 100%;
  font-weight: bold;
  padding-bottom: 20px;
}


/*Botones editar y eliminar*/

.btn-edit, .btn-delete {
  border: none;
  cursor: pointer;
  background: none; /* Transparente para que solo se vea la imagen */
  padding: 0; /* Elimina el relleno predeterminado de los botones */
}

.btn-edit img, .btn-delete img{
  width: 40px; /* Ajusta al tamaño de tu imagen */
  height: 40px; /* Ajusta al tamaño de tu imagen */
  padding-left: 5px;
}

.btn-reloj img{
  width: 20px; /* Ajusta al tamaño de tu imagen */
  height: 20px; /* Ajusta al tamaño de tu imagen */
}

.btn-reloj{
  
  //margin: 2px; /* Espaciado alrededor del botón */
  //padding: 5px 10px; /* Espaciado interno del botón, ajusta según necesites */
  color: white; /* Color del texto del botón */
  border: none; /* Eliminar el borde por defecto */
  border-radius: 5px; /* Esquinas redondeadas del botón */
  font-size: 8px; /* Tamaño del texto */
  font-weight: bold; /* Peso del texto */
  text-transform: uppercase; /* Texto en mayúsculas */
  cursor: pointer; /* Cambiar el cursor a un puntero */
  transition: background-color 0.3s, transform 0.2s; /* Suavizar la transición de colores y transformaciones */
  text-align: center; /* Asegurar que el texto esté centrado */
  text-decoration: none; /* Quitar la decoración del texto */
  display: inline-block; /* Permitir que se le apliquen márgenes y padding */
}

.btn-reloj:hover {
  background-color: #0077cc; /* Color de fondo al pasar el mouse */
  transform: translateY(-2px); /* Mover el botón ligeramente hacia arriba */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar sensación de elevación */
}

.btn-reloj:active {
  background-color: #003d66; /* Color de fondo al hacer clic */
  transform: translateY(1px); /* Mover el botón hacia abajo al presionarlo */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra más sutil */
}
/*estilo boton */
.btn {
  margin: 10px; /* Espaciado alrededor del botón */
  padding: 10px 20px; /* Espaciado interno del botón, ajusta según necesites */
  background-color: #005faa; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none; /* Eliminar el borde por defecto */
  border-radius: 5px; /* Esquinas redondeadas del botón */
  font-size: 12px; /* Tamaño del texto */
  font-weight: bold; /* Peso del texto */
  text-transform: uppercase; /* Texto en mayúsculas */
  cursor: pointer; /* Cambiar el cursor a un puntero */
  transition: background-color 0.3s, transform 0.2s; /* Suavizar la transición de colores y transformaciones */
  text-align: center; /* Asegurar que el texto esté centrado */
  text-decoration: none; /* Quitar la decoración del texto */
  display: inline-block; /* Permitir que se le apliquen márgenes y padding */
}

.btn:hover {
  background-color: #0077cc; /* Color de fondo al pasar el mouse */
  transform: translateY(-2px); /* Mover el botón ligeramente hacia arriba */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar sensación de elevación */
}

.btn:active {
  background-color: #003d66; /* Color de fondo al hacer clic */
  transform: translateY(1px); /* Mover el botón hacia abajo al presionarlo */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra más sutil */
}

/*popup actividad*/

.popup-body {
  background-color: #f9f9f9; /* Color de fondo claro */
  border-radius: 8px; /* Esquinas redondeadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  padding: 20px; /* Espaciado interno */
  max-width: 400px; /* Ancho máximo */
  margin: auto; /* Centrado */
}

.popup-row {
  margin-bottom: 15px; /* Espaciado entre filas */
}

.popup-row label {
  display: block; /* Etiqueta en su propia línea */
  margin-bottom: 5px; /* Espaciado entre etiqueta y campo */
  font-weight: bold; /* Negrita para las etiquetas */
}

input[type="number"], 
input[type="date"], 
textarea {
  width: 100%; /* Ancho completo */
  padding: 8px; /* Espaciado interno */
  border-radius: 4px; /* Esquinas redondeadas */
  border: 1px solid #ccc; /* Borde sutil */
  box-sizing: border-box; /* Box sizing */
}

textarea {
  resize: vertical; /* Permitir redimensionamiento vertical */
}

.popup-actions {
  text-align: center; /* Botones centrados */
}

.popup-actions button {
  padding: 10px 20px; /* Espaciado interno de botones */
  border-radius: 4px; /* Esquinas redondeadas */
  border: none; /* Sin borde */
  margin: 0 10px; /* Espaciado entre botones */
  cursor: pointer; /* Cursor de mano */
}

.popup-actions button[type="button"] {
  background-color: #4CAF50; /* Color para guardar */
  color: white; /* Texto blanco */
}

.popup-actions button[type="button"]:nth-child(2) {
  background-color: #f44336; /* Color para cancelar */
  color: white; /* Texto blanco */
}
