.container {
  height: 100vh; /* Asegura que el contenedor principal ocupe toda la altura de la vista */
}
  
  .app-menu-sidebar {
    flex: 0 0 auto; /* No se estirará y no se encogerá */
    width: 200px; /* Ancho de la barra lateral */
  }
  
  .content {
    flex: 1; /* Se estirará para llenar el espacio disponible */
    padding: 20px; /* Ajusta según sea necesario */
  }
  
  /*menu*/

  .menu-container {
    width: 300px; /* Ancho del menú */
    height: 100vh; /* Altura completa de la ventana */
    background-color: #f5f5f5; /* Color de fondo del menú */
    position: fixed; /* Posición fija */
    left: 0; /* A la izquierda */
    /*top: 0; */
    overflow-y: auto; /* Si el menú es más largo que la ventana, permite el desplazamiento */
  }
  
  .menu-items {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Sin relleno */
    margin: 0; /* Sin margen */

  }
  
  .menu-items li {
    padding: 10px 15px; /* Espacio alrededor de los ítems del menú */
    cursor: pointer; /* Cambia el cursor al pasar sobre un ítem del menú */
    border-bottom: 1px solid #e0e0e0; /* Línea divisoria entre ítems */
  }
  
  .menu-items li:hover {
    background-color: #ddd; /* Color de fondo al pasar el cursor sobre un ítem del menú */
  }
  
  /**/

  /*.container {
    display: grid;
    grid-template-columns: 1fr 3fr; 
    height: 100vh;
    grid-gap: 20px; 
  }*/
  
  .menu-section {
    grid-column: 1;
    background-color: #f4f4f4; 
  }
  
  .content-section {
    grid-column: 2;
    /*padding: 20px;  */
  }
  
  .menu-items img {
    width: 35%;
    height: auto; /* Mantiene la proporción de la imagen */
    vertical-align: middle; /* Alinea la imagen verticalmente con el texto */
    margin-right: 5px; /* Espaciado entre la imagen y el texto */
  }
  
  /*.container {
    display: block; 
  }*/
  
  .header-torresoft {
    /*border: 1px solid red;*/
    height: 50px;
    /* Additional styling if needed */
  }

  .cerrar_sesion {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #2e6f8c;
    color: white;
    cursor: pointer;
  }
  
  .cerrar_sesion:hover {
    background-color: #005faa;
  }

  