<div class="container">
  <div class="content-section">
    <!-- Si el usuario no está logueado, muestra el router-outlet para las rutas de login y registro -->
    <div *ngIf="!authService.isLoggedIn()">
      <ng-container *ngIf="isLoginRoute; else registration">
          <app-login></app-login>
      </ng-container>
      <ng-template #registration>
          <router-outlet></router-outlet>
      </ng-template>
    </div>
    <!-- Si el usuario está logueado, muestra el contenido de la aplicación -->
    <div *ngIf="authService.isLoggedIn()">
      <div class="menu-section" *ngIf="authService.isLoggedIn()">
        <div class="menu-container">
          <ul class="menu-items">
              <li (click)="navigateToComponent('moduleprojectComponent')">Proyectos</li>
              <li (click)="navigateToComponent('activityComponent')">Actividades</li>
              <li (click)="navigateToComponent('statisticsComponent')">Estadísticas</li>
          </ul>
          <button mat-raised-button color="warn" (click)="onLogout()">Cerrar Sesión</button>
        </div>  
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
