<div class="container" >
  
  <div class="content-section" >
    <!-- Si el usuario no está logueado, muestra el router-outlet para las rutas de login y registro -->
    <div class="fixed-header" *ngIf="!authService.isLoggedIn()">
      <a href="/">
        <img href="" src="assets/Images/Icon-Torre-soft.jpeg" alt="Descriptive Alt Text" class="logo">
      </a>

      <div class="nav-links" >
        <!--<a href="/login" class="nav-link">Inicio de sesión</a>-->
        <a (click)="navigateToComponent('loginComponent')" class="nav-link">Inicio de sesión</a>
        <a (click)="navigateToComponent('register')" class="nav-link register-button">Registrarse</a>
      </div>
    </div>

    <div class="fixed-header" *ngIf="authService.isLoggedIn()">
      <img href="" *ngIf="authService.isLoggedIn()" src="assets/Images/Torre-soft.jpeg" alt="Descriptive Alt Text" class="logo-login">
    </div>

    

    <div class = "contenedor" *ngIf="!authService.isLoggedIn()">
      
      <ng-container *ngIf="isLoginRoute; else registration">
          
        <router-outlet></router-outlet>
      </ng-container>
      <ng-template #registration>
          <router-outlet></router-outlet>
      </ng-template>
    </div>
    
    <!-- Si el usuario está logueado, muestra el contenido de la aplicación -->
    <div *ngIf="authService.isLoggedIn()" style="display: flex; flex-wrap: nowrap" class = "cuerpo">
      
      <div class="menu-section" *ngIf="authService.isLoggedIn()" style= "width: 25%; height: 300px; flex-shrink: 0; ">
        <div class="menu-container">
          <ul class="menu-items">
            <li (click)="navigateToComponent('moduleprojectComponent')">
              <img src="assets/Images/Habits.png" alt="Proyectos"> Hábitos
            </li>
            <li (click)="navigateToComponent('activityComponent')">
              <img src="assets/Images/Activity.png" alt="Actividades"> Actividades de Hábitos
            </li>
            <li (click)="navigateToComponent('statisticsComponent')">
              <img src="assets/Images/Estadistica.png" alt="Estadísticas"> Estadísticas
            </li>
          </ul>          
          <button mat-raised-button color="warn" (click)="onLogout()" class = "cerrar_sesion">Cerrar Sesión</button>
        </div>  
      </div>
      <div class="body-torresoft" style=" flex-grow: 1; overflow-x: auto;width: 100%" >
        <router-outlet></router-outlet>
      </div>
    </div>
    
  </div>
</div>
