.container {
    display: flex;
  }
  
  .app-menu-sidebar {
    flex: 0 0 auto; /* No se estirará y no se encogerá */
    width: 200px; /* Ancho de la barra lateral */
  }
  
  .content {
    flex: 1; /* Se estirará para llenar el espacio disponible */
    padding: 20px; /* Ajusta según sea necesario */
  }
  
  /*menu*/

  .menu-container {
    width: 200px; /* Ancho del menú */
    height: 100vh; /* Altura completa de la ventana */
    background-color: #f5f5f5; /* Color de fondo del menú */
    position: fixed; /* Posición fija */
    left: 0; /* A la izquierda */
    top: 0; /* En la parte superior */
    overflow-y: auto; /* Si el menú es más largo que la ventana, permite el desplazamiento */
  }
  
  .menu-items {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Sin relleno */
    margin: 0; /* Sin margen */
  }
  
  .menu-items li {
    padding: 10px 15px; /* Espacio alrededor de los ítems del menú */
    cursor: pointer; /* Cambia el cursor al pasar sobre un ítem del menú */
    border-bottom: 1px solid #e0e0e0; /* Línea divisoria entre ítems */
  }
  
  .menu-items li:hover {
    background-color: #ddd; /* Color de fondo al pasar el cursor sobre un ítem del menú */
  }
  
  /**/

  .container {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Esto asigna 1 parte al menú y 3 partes al contenido */
    height: 100vh;
    grid-gap: 20px; /* Espacio entre las columnas, si lo deseas */
  }
  
  .menu-section {
    grid-column: 1;
    background-color: #f4f4f4; /* color de fondo para el menú, opcional */
  }
  
  .content-section {
    grid-column: 2;
    padding: 20px; /* Espacio alrededor de tu contenido */
  }
  