<mat-card-content>

    <div class="row" [@slideIn] >
        
    </div>

    <div class="row" [@slideIn]>
        <div class="image-section1" >
          <img src="assets/Images/Productividad2.jpeg" alt="Hábitos de Productividad" class="productivity-image">
        </div>
        <div class="description-section1" >
          Registra tus Hábitos <br>
          Monitorea tu Progreso.
        </div>
    </div>

    <div class="row" [@slideIn]>
        <div class="description-section2" >
          "El 95% de las personas procrastinan en algún momento de su vida. <br>Procrastinar no solo te hace perder tiempo, <br>sino también oportunidades." - Brian Tracy
        </div>
        <div class="image-section2">
          <img src="assets/Images/Productividad3.jpg" alt="Hábitos de Productividad" class="productivity-image">
        </div>
    </div>

    <div class="row" [@slideIn]>
      <div class="image-section1" >
        <app-image-carousel></app-image-carousel>      
      </div>
    </div>
  

</mat-card-content>